.carousel {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
     /* Si tu veux un peu d'espace en bas, ajuste cette valeur */
  }
/* Applique un fond à chaque slide */
.carousel-item {
    position: relative;
    background-size: cover;  /* L'image prend toute la taille de la slide */
    background-position: center; /* L'image est centrée */
    height: 30rem; 
    padding-top: 5%;/* Hauteur minimum de la slide, ajuste selon ton besoin */
    
  }
  
  /* Conteneur du contenu à l'intérieur du carrousel (titre et texte) */
  .carousel-item-background {
    display: flex;
    flex-direction: column; /* Aligne les éléments (titre et texte) en colonne */
    align-items: center; /* Centre horizontalement le contenu */
    height: 100%; /* Remplie toute la hauteur de la slide */
    text-align: center; /* Centre le texte */
    color: #fbfbfc; /* Couleur du texte (ajustable selon ton design) */
    margin-top: 12%;
    font-size: 1rem;
   
  }
  
  /* Image de fond pour chaque slide */
  .carousel-item {
    background-image: url(/images/ciel.webp);
  }
  
  .carousel-item:nth-child(2) {
    background-image: url('/images/ciel2.webp'); 
  }
  
  .carousel-item:nth-child(3) {
    background-image: url('/images/ciel3.webp'); 
  }
  
  /* Optionnel : Style des indicateurs */
  .carousel-indicators button {
    background-color: #800000; /* Rouge bordeaux pour les boutons des indicateurs */
  }
  
  .carousel-indicators .active {
    background-color: #550000; /* Rouge bordeaux plus foncé pour le bouton actif */
  }
  

/* Style du titre avec dégradé de couleur */
.title1 {
  font-size: 4.5rem;
   -webkit-background-clip: text;  /* Pour Safari */
  background-clip: text;         /* Pour les autres navigateurs */
  animation: slide-in-elliptic-top-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.title2{
  font-size: 3rem;
  margin-top: -5rem;
}

.title3{
  font-size: 3rem;
  margin-top: -6rem;
}

.apropos{
  
  height: 100%;
  width: 70%;
    margin-left: 15%;
    margin-right: 15%; 
    
}
.prp{
  height: 30rem;
 background-color: white;
 border-radius: 10px; /* Coins arrondis (facultatif) */
 box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Ombre */
 padding: 20px;
 border: 2px solid #ccc;
    }

.pdm{
    padding-top: 2.5%;
  padding-left: 5%;
  height: 30rem;
  background-color: white;
  border-radius: 10px; /* Coins arrondis (facultatif) */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Ombre */
 
  border: 2px solid #ccc;
}
 
.par{
  font-size: 0.8rem;
}

h2{
  font-size: 1.2rem;
  background-color: rgb(0, 0, 0);
}
h3{
  font-size: 1.2rem;
  background-color: rgb(219, 107, 107);
}
img {
  width: 80%;
  height: 80%;
  object-fit: cover; 
  margin-top: 10%;
}
.progress {
  height: 10px;
  width: 80%; /* Hauteur de la barre elle-même */
  border-radius: 5px; /* Rayon d'angle arrondi (optionnel) */
  color: #000000;
}

.container1{
  padding: 5%;
  background: linear-gradient(90deg,  
  #000000 0%,  
  #550000 15%,  
  #771111 30%,  
  #FFFFFF 50%,  
  #771111 70%,  
  #550000 85%,  
  #000000 100%  ) 
}
.small-progress {
  height: 5px; /* Ajuste la hauteur selon ton besoin */
  font-size: 7px; 
  margin-bottom: 5px;/* Réduit la taille du texte à l'intérieur */
}
.small-text {
  font-size: 10px; /* Réduit la taille du texte */
  margin-bottom: -2px; /* Réduit l’espace sous le texte */
  display: block; /* Force le texte à être sur sa propre ligne */
}


.progress-c{
  background-color: #550000 !important;
}

@media (max-width: 576px) {
  img {
    width: 60%;
    height: 60%;
    object-fit: cover; 
    margin-top: 10%;
    margin-left: 10%;
  }
  h2  {
    font-size: 1.2rem !important;
   
  }
  h1{
    font-size: 1.5rem !important;
   }
   h3{
    font-size: 0.8rem;
   }
   .par{
    font-size: 0.6rem !important;
   }
  p {
    font-size: 0.7rem !important;
  }
  .carousel-item {
    padding-top: 13%;
    height: 18rem;
    
  }
 .carousel{
    width:100% ;
    margin-left: 0;
/* Si tu veux un peu d'espace en bas, ajuste cette valeur */
  }
  .pdm {
    background-color: #ffffff;
    
  }
 
  
  .small-progress {
    height: 5px; /* Ajuste la hauteur selon ton besoin */
    font-size: 7px; 
    margin-bottom: 2px;/* Réduit la taille du texte à l'intérieur */
  }
  .small-text {
    font-size: 10px; /* Réduit la taille du texte */
    margin-bottom: -3px; /* Réduit l’espace sous le texte */
    display: block; /* Force le texte à être sur sa propre ligne */
  }
  .pdm , .prp {
    height: 20rem;
    
     
   }
}

@media (min-width: 576px) and (max-width: 768px)  {
  .pdm , .prp {
   height: 20rem;
    
  }

  h2  {
    font-size: 1.2rem !important;
  }
  h1{
    font-size: 1.8rem !important;
   }
   h3 {
    font-size: 0.8rem;
   }
   .par{
    font-size: 0.5rem !important;
   }
  p {
    font-size: 0.8rem !important;
  }
  .carousel-item {
    padding-top: 5%;
    height: 18rem;
    
  }
 .carousel{
    width:100% ;
    margin-left: 0;
    
    
  }
  .small-progress {
    height: 5px; /* Ajuste la hauteur selon ton besoin */
    font-size: 7px; 
    margin-bottom: 5px;/* Réduit la taille du texte à l'intérieur */
  }
  .small-text {
    font-size: 10px; /* Réduit la taille du texte */
    margin-bottom: -2px; /* Réduit l’espace sous le texte */
    display: block; /* Force le texte à être sur sa propre ligne */
  }
  img {
    width: 90%;
    height: 90%;
    object-fit: cover; 
    margin-top: 40%;
  }

 

  }

