.navbar {
  width: 100%;
  border-bottom: 0.2rem solid #800000; /* Rouge bordeaux */
  background-color: black;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Rubik Dirt", serif;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.navbar-links {
  display: flex;
  gap: 6rem;
  margin-bottom: 0.5rem;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  transition: color 1.5s, transform 1.5s;
}

.navbar-link:hover {
  color: #800000; /* Bleu turquoise */
  transform: scale(1.8);
}

.navbar-link.active {
  color: #800000; /* Bleu turquoise */
  transform: scale(1.5);
}

.navbar-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.navbar-mobile-container {
  display: none; /* Caché par défaut */
  align-items: center;
  gap: 2rem; /* Espace entre le menu burger et le titre */
    
}

.navbar-mobile-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.burger-line {
  background-color: aliceblue;
}
@media (max-width: 576px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 1rem;
    background-color: #140101;
    position: absolute;
    top: 55px;
    left: 0;
    padding: 30px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem; /* Espace réduit entre les liens */
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-burger {
    display: flex;
    
  }

  .navbar-mobile-container {
    display: flex;
  }
  
  .navbar-link {
    font-size: 1.2rem; /* Taille du texte plus petite */
  }
}

@media (min-width: 576px) and (max-width: 768px)  {
  .navbar-links {
  gap: 3rem; /* Espace réduit entre les liens */
  }

  .navbar-link:hover {
  transform: scale(1.5);
  }

  .navbar-links.active {
    transform: scale(1.4);
  }

    .navbar-link {
    font-size: 1.2rem; /* Taille du texte plus petite */
  }
}

@media (min-width: 768px) and (max-width: 992px)  {
  .navbar-links {
  gap: 4.5rem; /* Espace réduit entre les liens */
  }

  .navbar-link:hover {
  transform: scale(1.6);
  }

  .navbar-links.active {
    transform: scale(1.5);
  }

    .navbar-link {
    font-size: 1.3rem; /* Taille du texte plus petite */
  }
}